.fondo {
  background-image: url(/img/fondo-violeta.png);
}

@media (min-width: 1024px) {
  .sobre-nosotros-titulo {
    box-shadow: 0px 0px 10px 10px rgba(166, 0, 255, 0.091);
    div {
      p {
        width: 60%;
        margin: auto;
      }
    }
  }

  .sobre-nosotros-tarjetas {
    justify-content: space-around !important;
    flex-direction: row !important;

    div {
      width: 30vw;
      justify-content: space-between;
    }

    p {
      width: 100% !important;
    }
  }
}
