* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
  font-weight: 700 !important;
}

.carousel-inner {
  height: 200px;
  .carousel-item {
    img {
      height: 200px !important;
      object-fit: cover;
      object-position: 0% 50%;
    }
  }
}


/* FONDO */

.fondo{
  position: absolute;
  width: 100%;
  height: 1450px;
  object-fit: cover;
  filter: opacity(97%);
  z-index: -1;
}
/* TEXT-WHITE */

.text-white{
  color: rgba(255, 255, 255, 0.856) !important;
}



/* BUSCADOR */

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.856) !important;
}

input.form-control.me-2 {
  background: transparent;
  color: rgba(255, 255, 255, 0.856);
}

/* ARTICULOS */

.articulo {
  img {
    object-fit: cover;
  }
}

/* LOGO */
span {
  filter: invert();
}

/* FOOTER */

footer {
  border-top: 3px solid white;
}

@media (min-width: 1440px) {
  /* BUSCADOR */
  input.form-control.me-2 {
    width: 800px;
  }

  /* CARROUCEL */
  .carousel-inner {
    height: 400px;
    object-fit: cover;
    .carousel-item {
      img {
        height: 400px !important;
        object-fit: cover;
        object-position: 0% 50%;
      }
    }
  }

  /* CATEGORIAS */
  .categorias {
    width: 20rem !important;

    img {
      width: 40px;
    }
  }

  /* ARTICULOS */
  .articulo {
    width: 20rem !important;

    img {
      height: 350px;
    }
  }

  /* FOOTER */

  footer {
    flex-direction: row !important;
  }
}
