/* ANIMACIONES HOVER */

.categorias {
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.articulo {
  transition: 1s;
  outline: 2px solid rgb(0, 0, 0);

  &:hover {
    transform: scale(1.03);
    animation: seleccionar 4s ease infinite alternate;
  }
}

.seleccionado {
  animation: fuego 2s ease infinite alternate;
}

.nav-item {
  .nav-link {
    transition: 0.5s;

    &:hover {
      transform: scale(1.03);
      color: black !important;
      background-color: var(--color-texto-blanco);
      border-radius: 10px;
      margin: 0px 5px;
    }
  }
}

.animation-a {
  transition: 0.5s;

  &:hover {
    transform: scale(1.03);
    color: black !important;
    background-color: var(--color-texto-blanco);
    border-radius: 10px;
    padding: 0px 5px;
  }
}

.navbar-brand {
  img {
    transition: 0.5s;

    &:hover {
      filter: invert();
      background-color: black;
      border-radius: 10px;
    }
  }
}

.categorias {
  animation: cargar 1s ease-in 1 alternate;
}

.mapas {
  iframe {
    transition: 1s;
    &:hover {
      height: 400px;
      filter: opacity(100%);
    }
  }
}

.redes {
  img {
    transition: 0.5s;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      background-color: var(--color-texto-blanco);
      border-radius: 10px;
      transform: scale(1.4);
    }
  }
}

.activado {
  animation: activado 2s ease infinite alternate;
}

.carousel-inner {
  .carousel-item {
    img {
      transition: 1s;
      &:hover {
        height: 600px !important;
      }
    }
  }
}

/* ANIMACIONES */

@keyframes seleccionar {
  0% {
    outline: 2px solid red;
  }

  50% {
    outline: 2px solid green;
  }

  100% {
    outline: 2px solid blue;
  }
}

@keyframes activado {
  from {
  }

  to {
    box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.219);
    transform: scale(1.05) rotate(1deg);
  }
}

@keyframes cargar {
  0% {
    transform: scale(0.9);
    opacity: 50%;
  }

  80% {
    opacity: 80%;
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
    opacity: 100%;
  }
}

@keyframes fuego {
  0% {
    outline: 0px solid rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.596);
  }
}

/* MEDIA QUERIES */

@media (min-width: 1024px) {
  .articulo {
    img {
      transition: 1s;
      &:hover {
        transform: perspective(200px) rotateY(1deg) rotateX(5deg) scale(1.1);
        filter: drop-shadow(30px 10px 4px #ffffff12);
        cursor: pointer;
      }
    }
  }
}
